$primary: 'teal';

@import 'ember-paper';

body {
  background: #F3F3F3;
}

.d-flex {
  display: flex;
}

button.md-float {
  bottom: 12px;
  right: 12px;
  position: fixed;
}

.github-button {
  background: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  img {
    width: 32px;
    height: 32px;
  }
}

.md-2-line.justify-start {
  .md-list-item-inner {
    justify-content: flex-start;
  }
}

@import 'diaper-list';
@import 'flash-messages';
@import 'animate';
