@import 'ember-paper';

button.md-float {
  bottom: 12px;
  right: 12px;
  position: fixed;
}

.github-button {
  background: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  img {
    width: 32px;
    height: 32px;
  }
}

.md-2-line.justify-start {
  .md-list-item-inner {
    justify-content: flex-start;
  }
}
