{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>
      Look After
    </h2>
    <span class="flex"></span>

    <a href="https://github.com/arthurras/feracode-backend" target="_blank" class="github-button">
      <img src="/github.png" alt="">
    </a>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <p>{{flash.message}}</p>
  {{/flash-message}}
{{/each}}

{{outlet}}
